/** Importing all the sass files **/
body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: #272727;
  line-height: 35px; }

h1, h2, h3, h4, h5, h6 {
  color: #272727;
  font-weight: 400; }

h1 {
  font-size: 40px;
  line-height: 51px; }
  h1.heading {
    font-size: 24px;
    line-height: 1;
    color: #1d6fbc;
    text-transform: uppercase;
    margin: 0 0 40px; }

h2 {
  font-size: 24px;
  line-height: 35px; }

h3 {
  font-size: 22px;
  line-height: 27px; }

h4 {
  font-size: 20px;
  line-height: 25px; }

h5 {
  font-size: 18px;
  line-height: 23px; }

h6 {
  font-size: 16px;
  line-height: 20px; }

p {
  font-weight: 300;
  color: #272727;
  font-size: 24px;
  line-height: 35px; }

.form-group .form-control {
  width: 100%;
  height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 0; }
  .form-group .form-control:focus {
    outline: none;
    box-shadow: none; }
.form-group textarea.form-control {
  height: 130px;
  resize: none; }
.form-group label {
  font-size: 16px;
  font-weight: 400; }
.form-group:after {
  display: block;
  content: " ";
  clear: both; }

.form-loginSignup .form-group {
  margin: 0 0 10px; }
  .form-loginSignup .form-group .form-control {
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    font-size: 16px;
    color: #272727;
    padding: 0 10px 5px 32px;
    height: 30px;
    line-height: 30px;
    border-radius: 0;
    box-shadow: none; }
    .form-loginSignup .form-group .form-control:focus {
      outline: none; }
    .form-loginSignup .form-group .form-control.username {
      background: url(../images/icon-signin-user.svg) no-repeat left 2px top 2px;
      background-size: 20px 20px; }
    .form-loginSignup .form-group .form-control.password {
      background: url(../images/icon-signin-pw.svg) no-repeat left 2px top 2px;
      background-size: 23px 20px; }
    .form-loginSignup .form-group .form-control.confirm {
      margin: 0 0 30px; }
    .form-loginSignup .form-group .form-control.resed-pass {
      margin: 0 0 30px; }
  .form-loginSignup .form-group .link-forgot {
    float: right;
    color: #1d6fbc;
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
    margin: 0 0 10px;
    line-height: 1; }
    .form-loginSignup .form-group .link-forgot:hover {
      color: #272727;
      text-decoration: none; }
  .form-loginSignup .form-group:after {
    display: block;
    content: " ";
    clear: both; }
  .form-loginSignup .form-group .btn-primary {
    font-size: 18px; }
    .form-loginSignup .form-group .btn-primary img {
      display: inline-block;
      margin: 0 0 0 10px;
      width: 14px; }
  .form-loginSignup .form-group .new-user {
    font-size: 16px;
    color: #272727;
    margin: 0; }
    .form-loginSignup .form-group .new-user a {
      color: #1d6fbc; }
  .form-loginSignup .form-group.fb-login {
    margin: 0 0 40px; }
    .form-loginSignup .form-group.fb-login a {
      font-size: 14px;
      color: #1d6fbc; }
      .form-loginSignup .form-group.fb-login a img {
        width: 20px;
        height: 30px; }
      .form-loginSignup .form-group.fb-login a:hover {
        color: #272727;
        text-decoration: none; }

.link-invite {
  float: right;
  padding: 7px 10px;
  color: #878787;
  font-size: 14px;
  border: 1px solid #e1e1e1;
  line-height: 18px;
  min-width: 100px;
  text-align: center; }
  .link-invite:hover {
    background: #1d6fbc;
    color: #fff;
    text-decoration: none; }

/*** Search panel ***/
#search-drop-panel .form-group {
  margin: 0; }
  #search-drop-panel .form-group .form-control {
    width: 100%;
    height: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 0;
    font-size: 20px;
    color: #272727; }
    #search-drop-panel .form-group .form-control:focus {
      outline: none;
      box-shadow: none; }
  #search-drop-panel .form-group .btn-primary {
    width: 175px;
    margin: 10px auto 0;
    display: block;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase; }

#header {
  background: #1d6fbc;
  padding: 17px 0;
  position: fixed;
  z-index: 11;
  top: 0;
  width: 100%;
  height: 90px; }
  #header .header-logo {
    width: 140px;
    float: left;
    margin: 0 20px 0 0; }
    @media only screen and (max-width: 767px) {
      #header .header-logo {
        margin: 7px 10px 0 0;
        width: 100px; } }
    #header .header-logo img {
      height: 60px; }
      @media only screen and (max-width: 767px) {
        #header .header-logo img {
          height: 45px; } }
  #header .header-right {
    width: 130px;
    margin: 10px 0 0 10px;
    float: right;
    text-align: right; }
    @media only screen and (max-width: 767px) {
      #header .header-right {
        margin: 10px 0 0 5px; } }
    #header .header-right a {
      margin: 0 5px; }
      #header .header-right a img {
        width: 24px;
        height: 24px;
        opacity: 0.5; }
        @media only screen and (max-width: 767px) {
          #header .header-right a img {
            width: 20px; } }
      #header .header-right a:hover img {
        opacity: 1; }
      @media only screen and (max-width: 767px) {
        #header .header-right a {
          margin: 0 0 0 10px; } }
      #header .header-right a.active {
        padding: 0 0 20px;
        position: relative; }
        #header .header-right a.active img {
          opacity: 1; }
        #header .header-right a.active:after {
          position: absolute;
          content: " ";
          width: 15px;
          height: 15px;
          background: #1d6fbc;
          transform: rotate(45deg);
          bottom: -14px;
          margin-left: -12px;
          left: 18px; }
    #header .header-right .menu-button {
      float: right;
      font-size: 20px;
      margin: 2px 0 0 15px;
      color: rgba(255, 255, 255, 0.5); }
      #header .header-right .menu-button:hover {
        color: white; }
    @media only screen and (max-width: 767px) {
      #header .header-right {
        width: auto; } }
  #header .header-nav {
    overflow: hidden;
    padding: 0 0 15px; }
    #header .header-nav ul {
      margin: 5px 0 0;
      padding: 0;
      text-align: center; }
      #header .header-nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0 15px;
        position: relative; }
        #header .header-nav ul li a {
          color: rgba(255, 255, 255, 0.5);
          font-size: 10px;
          line-height: 15px;
          text-transform: uppercase;
          font-weight: 500;
          letter-spacing: 1px;
          display: block; }
          #header .header-nav ul li a img {
            width: 24px;
            height: 24px;
            opacity: 0.5; }
          #header .header-nav ul li a span {
            display: block;
            margin: 10px 0; }
            @media only screen and (max-width: 767px) {
              #header .header-nav ul li a span {
                font-size: 16px;
                font-weight: 300; } }
          #header .header-nav ul li a:hover {
            color: white;
            text-decoration: none; }
            #header .header-nav ul li a:hover img {
              opacity: 1; }
        #header .header-nav ul li.active:after {
          position: absolute;
          content: " ";
          width: 15px;
          height: 15px;
          background: #1d6fbc;
          transform: rotate(45deg);
          bottom: -11px;
          margin-left: -7px;
          left: 50%; }
        #header .header-nav ul li.active a {
          color: white;
          text-decoration: none; }
          #header .header-nav ul li.active a img {
            opacity: 1; }
        @media only screen and (max-width: 850px) {
          #header .header-nav ul li {
            margin: 0 7px; } }
        @media only screen and (max-width: 767px) {
          #header .header-nav ul li {
            margin: 0 0 7px !important;
            padding: 15px 0 0;
            border-top: 1px solid #232121; }
            #header .header-nav ul li:first-child {
              border: 0; } }
    @media only screen and (max-width: 767px) {
      #header .header-nav {
        overflow: visible;
        clear: both;
        position: absolute;
        left: 0;
        right: 0;
        padding: 10px 0 20px;
        top: 90px;
        background: #272727;
        display: none; }
        #header .header-nav ul li {
          display: block;
          margin: 0 0 20px; }
          #header .header-nav ul li:after {
            display: none; } }
    @media only screen and (min-width: 768px) {
      #header .header-nav {
        display: block !important; } }
    #header .header-nav.admin ul {
      margin: 22px 0 0; }
      #header .header-nav.admin ul li a {
        padding-bottom: 19px; }

#footer {
  padding: 12px 0 15px;
  background: #f6f6f6;
  border-top: 1px solid #e1e1e1;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 999; }
  #footer nav.footer-nav ul {
    margin: 0;
    padding: 0;
    text-align: center; }
    #footer nav.footer-nav ul li {
      list-style: none;
      display: inline-block;
      margin: 0 10px; }
      #footer nav.footer-nav ul li a {
        font-size: 11px;
        color: #747474;
        font-weight: 300;
        text-transform: uppercase; }
        #footer nav.footer-nav ul li a:hover {
          color: #272727;
          text-decoration: none; }
      @media only screen and (max-width: 640px) {
        #footer nav.footer-nav ul li {
          margin: 0 6px; } }

.login-footer nav ul {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0; }
  .login-footer nav ul li {
    list-style: none;
    display: table-cell; }
    .login-footer nav ul li a {
      font-size: 11px;
      color: #747474;
      font-weight: 300;
      text-transform: uppercase; }
      .login-footer nav ul li a:hover {
        color: #272727;
        text-decoration: none; }
.login-footer .login-copyrights {
  font-size: 11px;
  color: #747474;
  font-weight: 300;
  margin: 0;
  line-height: 11px;
  text-transform: uppercase; }
.login-footer.login-footer-one {
  margin: 130px 0 0; }

.login-contianer {
  padding: 80px 15px;
  max-width: 790px;
  margin: 0 auto; }
  .login-contianer .img-login {
    margin: 0 0 20px; }
    @media only screen and (max-width: 767px) {
      .login-contianer .img-login {
        margin: 0 auto 20px; } }
  .login-contianer .login-logo {
    display: block;
    margin: 40px auto 30px;
    width: 120px;
    height: auto; }
    .login-contianer .login-logo.new-logo {
      margin: 150px auto 30px; }
  @media only screen and (max-width: 767px) {
    .login-contianer {
      padding: 40px 20px; }
      .login-contianer .app-buttons {
        display: block;
        max-width: 200px;
        margin: 0 auto 20px; }
        .login-contianer .app-buttons img {
          width: 100%; } }
  .login-contianer .form-loginSignup {
    max-width: 280px;
    margin: 0 auto; }

.cover {
  min-height: 240px;
  position: relative;
  margin: 0 0 75px; }
  .cover .cover-image {
    position: absolute;
    left: 0;
    right: 0; }
    .cover .cover-image .change-image {
      position: absolute;
      top: 40px;
      right: 40px;
      display: none; }
    .cover .cover-image:hover .change-image {
      display: block; }
  .cover img.main-image {
    min-height: 240px;
    max-height: 240px;
    width: 100%; }
  .cover .center-container {
    position: relative;
    max-width: 230px;
    margin: 0 auto; }
    .cover .center-container .profile-image {
      width: 230px;
      height: 230px;
      border-radius: 100%;
      margin: 0 auto;
      position: relative;
      top: 60px;
      border: 2px solid #1d6fbc;
      position: relative; }
      .cover .center-container .profile-image > img {
        border-radius: 100%;
        width: 226px;
        height: 226px; }
      .cover .center-container .profile-image .change-user-image {
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin: 0 0 0 -25px;
        display: none; }
      .cover .center-container .profile-image:hover .change-user-image {
        display: block; }

.profile-info .profile-top {
  text-align: center;
  margin: 0 0 30px; }
  .profile-info .profile-top h1, .profile-info .profile-top h4, .profile-info .profile-top h6 {
    font-weight: 300;
    margin: 0; }
  .profile-info .profile-top h4 {
    color: #1d6fbc; }
  @media only screen and (max-width: 640px) {
    .profile-info .profile-top h1 {
      font-size: 30px; } }
.profile-info .profile-follower h3 {
  text-transform: uppercase;
  margin: 0;
  font-weight: 300; }
.profile-info .profile-follower .total-following {
  color: #1d6fbc;
  font-size: 20px;
  display: block;
  font-weight: 700; }
  @media only screen and (max-width: 767px) {
    .profile-info .profile-follower .total-following {
      text-align: center !important; } }
.profile-info .profile-follower .btn-primary {
  width: 160px;
  display: block;
  margin: 0 auto;
  height: 50px;
  line-height: 30px;
  font-size: 24px; }
  @media only screen and (max-width: 767px) {
    .profile-info .profile-follower .btn-primary {
      margin: 70px auto 0; } }
.profile-info .profile-follower .row {
  margin-bottom: 30px; }
@media only screen and (max-width: 640px) {
  .profile-info {
    text-align: center; }
    .profile-info .text-right {
      text-align: center !important; } }

.profile-article {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e1e1e1; }
  .profile-article:first-child {
    margin: 60px 0 20px; }
  .profile-article:last-child {
    border-bottom: 0; }
  .profile-article ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .profile-article ul li {
      margin: 0; }
      .profile-article ul li span {
        font-weight: 300;
        padding-left: 0; }
        @media only screen and (max-width: 767px) {
          .profile-article ul li span {
            display: block; } }
      .profile-article ul li strong {
        font-weight: 400;
        position: relative; }
        .profile-article ul li strong:after {
          position: absolute;
          content: ":";
          left: 0;
          top: 0; }
        @media only screen and (max-width: 767px) {
          .profile-article ul li strong {
            display: block;
            padding: 0; }
            .profile-article ul li strong:after {
              display: none; } }
  .profile-article h2 {
    color: #1d6fbc;
    margin: 0 0 10px; }

.news-feeds {
  padding: 0 0 20px;
  margin: 0 0 35px;
  border-bottom: 1px solid #e1e1e1; }
  .news-feeds:last-child {
    border-bottom: 0;
    margin: 0; }
  .news-feeds header {
    overflow: hidden;
    margin: 0 0 20px; }
    .news-feeds header .header-holder {
      overflow: hidden; }
      .news-feeds header .header-holder .user-image {
        float: left;
        width: 90px;
        height: 90px;
        margin: 0 20px 0 0; }
    .news-feeds header .user-info {
      overflow: hidden;
      padding: 30px 0 0; }
      .news-feeds header .user-info h2 {
        margin: 0;
        font-weight: 400; }
      .news-feeds header .user-info h6 {
        margin: 0;
        color: #878787;
        font-weight: 300; }
      @media only screen and (max-width: 767px) {
        .news-feeds header .user-info {
          padding: 0; }
          .news-feeds header .user-info h2 {
            font-size: 16px; } }
    @media only screen and (max-width: 767px) {
      .news-feeds header .link-invite {
        display: block;
        width: 100%;
        box-sizing: border-box;
        margin: 20px 0 0; } }
  .news-feeds .news-body {
    margin: 0 0 20px; }
    .news-feeds .news-body h2 {
      margin: 0; }
      @media only screen and (max-width: 767px) {
        .news-feeds .news-body h2 {
          font-size: 18px;
          line-height: 22px;
          margin: 0 0 10px; } }
    .news-feeds .news-body .news-main-image {
      position: relative;
      padding: 20px 0 10px; }
      .news-feeds .news-body .news-main-image .link-change-image {
        position: absolute;
        top: 40px;
        right: 20px;
        display: none; }
      .news-feeds .news-body .news-main-image:hover .link-change-image {
        display: block; }
    @media only screen and (max-width: 767px) {
      .news-feeds .news-body p {
        font-size: 15px;
        line-height: 22px; } }
  .news-feeds footer {
    overflow: hidden; }
    .news-feeds footer .news-f-left {
      float: left; }
      .news-feeds footer .news-f-left a {
        font-size: 12px;
        color: #1d6fbc;
        text-align: center;
        float: left;
        width: 60px;
        margin: 0 20px 0 0; }
        @media only screen and (max-width: 767px) {
          .news-feeds footer .news-f-left a {
            font-size: 11px;
            width: 48px;
            margin: 0 3px 0 0; } }
        .news-feeds footer .news-f-left a img {
          height: 34px;
          display: block;
          margin: 0 auto; }
          @media only screen and (max-width: 767px) {
            .news-feeds footer .news-f-left a img {
              height: 24px; } }
        .news-feeds footer .news-f-left a:hover {
          text-decoration: none;
          color: #272727; }
    .news-feeds footer .news-f-right {
      float: right; }
      .news-feeds footer .news-f-right a.link-follow, .news-feeds footer .news-f-right .notifications .user-info-details a.link-unfollow, .notifications .user-info-details .news-feeds footer .news-f-right a.link-unfollow {
        float: right;
        padding: 32px 0 0;
        background: url(../images/icon-1-follow.svg) no-repeat;
        background-size: 100%;
        font-size: 12px;
        color: #77ba4f;
        width: 50px;
        height: 56px; }
        @media only screen and (max-width: 767px) {
          .news-feeds footer .news-f-right a.link-follow, .news-feeds footer .news-f-right .notifications .user-info-details a.link-unfollow, .notifications .user-info-details .news-feeds footer .news-f-right a.link-unfollow {
            background-size: 80%; } }
        .news-feeds footer .news-f-right a.link-follow:hover, .news-feeds footer .news-f-right .notifications .user-info-details a.link-unfollow:hover, .notifications .user-info-details .news-feeds footer .news-f-right a.link-unfollow:hover {
          background: url(../images/icon-2-unfollow.svg) no-repeat;
          background-size: 100%;
          text-decoration: none;
          color: #eb3f2f; }
          @media only screen and (max-width: 767px) {
            .news-feeds footer .news-f-right a.link-follow:hover, .news-feeds footer .news-f-right .notifications .user-info-details a.link-unfollow:hover, .notifications .user-info-details .news-feeds footer .news-f-right a.link-unfollow:hover {
              background-size: 80%; } }

.modal-holder {
  padding: 30px; }
  .modal-holder .modal-header-container h2 {
    margin: 0 0 20px;
    padding: 0 0 10px;
    border-bottom: 1px solid #e1e1e1;
    text-transform: uppercase;
    color: #1d6fbc; }
  .modal-holder .modal-body-container p {
    font-size: 16px;
    line-height: 20px; }
  .modal-holder .modal-body-container:after {
    display: block;
    content: " ";
    clear: both; }
  .modal-holder .modal-body-container .btn-primary {
    min-width: 130px;
    height: 40px;
    line-height: 20px;
    text-transform: capitalize; }

.user-info-details {
  overflow: hidden;
  margin: 0 0 20px; }
  .user-info-details .image {
    float: left;
    margin: 0 20px 0 0;
    width: 50px;
    height: 50px; }
    .user-info-details .image img {
      width: 50px;
      height: 50px; }
  .user-info-details .user-details {
    overflow: hidden;
    padding: 16px 0 0; }
    .user-info-details .user-details h6 {
      margin: 0 0 -12px;
      line-height: 16px; }
    .user-info-details .user-details span {
      font-size: 12px;
      color: #878787;
      line-height: 12px; }

.modal-nav ul {
  margin: 0 0 20px;
  padding: 0; }
  .modal-nav ul li {
    list-style: none;
    padding: 0 0 5px;
    margin: 0 0 5px;
    border-bottom: 1px solid #e1e1e1; }
    .modal-nav ul li a {
      padding: 0 0 5px 40px;
      background: url(../images/icon-email.svg) no-repeat top 2px left 0;
      background-size: 25px 18px;
      font-size: 16px;
      font-weight: 300;
      line-height: 25px;
      color: #272727; }
      .modal-nav ul li a:hover {
        color: #1d6fbc;
        text-decoration: none; }
    .modal-nav ul li .rad-area {
      border: 1px solid #878787;
      margin: 12px 10px 0 0; }
    .modal-nav ul li .rad-checked {
      background: url(../images/icon-radio-2.svg) no-repeat;
      background-size: 20px 20px;
      border: 0; }
  .modal-nav ul label {
    font-weight: 300;
    font-size: 16px; }

.section-modal-footer {
  padding: 20px 0 0;
  overflow: hidden; }
  .section-modal-footer .btn-primary, .section-modal-footer .btn-defualt {
    min-width: 130px;
    height: 40px;
    line-height: 20px;
    float: right; }
  .section-modal-footer .btn-defualt {
    margin: 0 10px 0 0; }
  .section-modal-footer .text-holder {
    border: 1px solid #e1e1e1;
    overflow: hidden; }
    .section-modal-footer .text-holder input[type="text"] {
      width: 100%;
      border: 0;
      padding: 10px;
      height: 37px;
      box-sizing: border-box;
      color: #272727;
      font-size: 16px; }
      .section-modal-footer .text-holder input[type="text"]:focus {
        outline: none; }

.post-comments {
  overflow: hidden;
  margin: 0 0 30px; }
  .post-comments .comment-holder {
    overflow: hidden;
    margin: 0 0 30px; }
    .post-comments .comment-holder .btn-primary {
      min-width: 130px;
      height: 40px;
      line-height: 20px;
      float: right; }
      @media only screen and (max-width: 1024px) {
        .post-comments .comment-holder .btn-primary {
          min-width: 50px; } }
    .post-comments .comment-holder .text-holder {
      border: 1px solid #e1e1e1;
      overflow: hidden; }
      .post-comments .comment-holder .text-holder input[type="text"] {
        width: 100%;
        border: 0;
        padding: 10px;
        height: 37px;
        box-sizing: border-box;
        color: #272727;
        font-size: 16px; }
        .post-comments .comment-holder .text-holder input[type="text"]:focus {
          outline: none; }

.post-comments .user-info-details {
  margin: 0 0 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid #e1e1e1; }
  .post-comments .user-info-details:last-child {
    border: 0; }
  .post-comments .user-info-details .user-details {
    padding: 0; }
    .post-comments .user-info-details .user-details em {
      display: block;
      color: #878787;
      font-size: 12px;
      line-height: 12px;
      font-style: normal; }

#bio-tabs .nav-tabs li {
  padding: 0; }
  #bio-tabs .nav-tabs li a {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 38px; }
    @media only screen and (max-width: 640px) {
      #bio-tabs .nav-tabs li a {
        font-size: 20px; } }
  #bio-tabs .nav-tabs li.active a {
    background: #1d6fbc;
    color: #fff; }
#bio-tabs .tab-content {
  padding: 30px 0 0; }
  #bio-tabs .tab-content p {
    margin: 0 0 30px; }
    @media only screen and (max-width: 640px) {
      #bio-tabs .tab-content p {
        font-size: 16px;
        line-height: 1.5; } }

.my-social-media h2 {
  color: #1d6fbc;
  padding: 0 0 10px;
  margin: 0 0 20px;
  border-bottom: 1px solid #e1e1e1; }
  .my-social-media h2 a {
    color: #1d6fbc;
    float: right; }
.my-social-media nav ul {
  margin: 0 0 100px;
  padding: 0; }
  .my-social-media nav ul li {
    list-style: none;
    padding: 10px 0 0;
    margin: 0 0 10px;
    border-top: 1px solid #e1e1e1; }
    .my-social-media nav ul li:first-child {
      border: 0; }
    .my-social-media nav ul li a {
      font-size: 24px;
      color: #272727;
      font-weight: 300; }
      .my-social-media nav ul li a i {
        float: left;
        margin: 5px 15px 0 0;
        color: #1d6fbc; }
      .my-social-media nav ul li a:hover {
        color: #1d6fbc;
        text-decoration: none; }
.my-social-media nav.social-nav {
  display: none;
  max-height: 200px;
  overflow-y: auto; }
  .my-social-media nav.social-nav ul {
    margin: 0; }
    .my-social-media nav.social-nav ul li {
      margin: 0;
      padding: 0; }
      .my-social-media nav.social-nav ul li a {
        font-size: 16px;
        font-weight: 300; }
        .my-social-media nav.social-nav ul li a i {
          margin: 12px 10px 0 0; }

.update-article {
  overflow: hidden;
  padding: 0 0 30px;
  margin: 0 0 30px;
  border-bottom: 1px solid #e1e1e1; }
  .update-article:last-child {
    border: 0; }
  .update-article .meta {
    font-size: 14px;
    display: block;
    color: #1d6fbc;
    line-height: 14px; }
    @media only screen and (max-width: 767px) {
      .update-article .meta {
        margin: 20px 0 0; } }
  .update-article p {
    line-height: 30px;
    margin: 0 !important; }

.social-media {
  font-size: 16px;
  font-weight: 300;
  color: #878787;
  padding: 0 0 5px;
  line-height: 16px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #e1e1e1;
  cursor: pointer; }
  .social-media span a {
    color: #1d6fbc; }
    .social-media span a i {
      margin: 0 10px 0 0; }

.link-text-holder {
  overflow: hidden;
  padding: 0 0 20px; }
  .link-text-holder .modal-text {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 10px 5px 0;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    color: #272727;
    font-weight: 300;
    height: 30px; }
    .link-text-holder .modal-text:focus {
      outline: none; }

.notification-actions {
  padding: 0 0 20px;
  text-align: right; }
  .notification-actions a {
    display: inline-block;
    margin: 0 0 0 15px;
    font-size: 14px; }
    .notification-actions a.link-readall {
      color: #1d6fbc; }
    .notification-actions a.deleteall {
      color: #eb3f2f; }
      .notification-actions a.deleteall:hover {
        color: #272727; }

.notifications {
  overflow: hidden; }
  .notifications .user-info-details {
    padding: 0 0 20px;
    margin: 0 0 20px;
    border-bottom: 1px solid #e1e1e1;
    overflow: hidden;
    display: block; }
    .notifications .user-info-details:last-child {
      border: 0; }
    .notifications .user-info-details .image {
      width: 90px;
      height: 90px; }
      .notifications .user-info-details .image img {
        width: 90px;
        height: 90px; }
      .notifications .user-info-details .image.image1 {
        width: 50px;
        height: 50px; }
        .notifications .user-info-details .image.image1 img {
          width: 50px;
          height: 50px; }
    .notifications .user-info-details .link-delete, .notifications .user-info-details .link-follow, .notifications .user-info-details .link-unfollow {
      float: right;
      width: 50px;
      margin: 15px 0 0 10px;
      padding: 40px 0 0;
      background: url(../images/icon-delete-notification.svg) no-repeat;
      background-size: 30px 30px;
      font-size: 12px;
      color: #eb3f2f;
      text-transform: capitalize;
      line-height: 12px;
      display: none; }
    .notifications .user-info-details .link-follow, .notifications .user-info-details .link-unfollow {
      width: 70px;
      background: url(../images/icon-2-unfollow.svg) no-repeat;
      background-size: 50px 50px;
      height: 70px; }
      .notifications .user-info-details .link-follow:hover, .notifications .user-info-details .link-unfollow:hover {
        background: url(../images/icon-1-follow.svg) no-repeat;
        background-size: 50px 50px; }
    .notifications .user-info-details .link-unfollow {
      background: url(../images/icon-1-follow.svg) no-repeat;
      background-size: 50px 50px; }
      .notifications .user-info-details .link-unfollow:hover {
        background: url(../images/icon-2-unfollow.svg) no-repeat;
        background-size: 50px 50px; }
    .notifications .user-info-details .user-details {
      padding: 10px 0 0; }
      .notifications .user-info-details .user-details h2 {
        margin: 0; }
        @media only screen and (max-width: 767px) {
          .notifications .user-info-details .user-details h2 {
            font-size: 16px;
            font-weight: 600;
            line-height: 16px; } }
      .notifications .user-info-details .user-details p {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 10px; }
      .notifications .user-info-details .user-details em {
        display: block;
        color: #878787;
        font-size: 12px;
        line-height: 12px;
        font-style: normal; }
      .notifications .user-info-details .user-details.user-details1 {
        padding: 0; }
        .notifications .user-info-details .user-details.user-details1 h2 {
          font-size: 14px;
          line-height: 1;
          font-weight: 700; }
        .notifications .user-info-details .user-details.user-details1 p {
          margin: 0; }
      .notifications .user-info-details .user-details:hover .link-delete, .notifications .user-info-details .user-details:hover .link-follow, .notifications .user-info-details .user-details:hover .link-unfollow, .notifications .user-info-details .user-details:focus .link-delete, .notifications .user-info-details .user-details:focus .link-follow, .notifications .user-info-details .user-details:focus .link-unfollow {
        display: block; }
    .notifications .user-info-details:hover .link-delete, .notifications .user-info-details:hover .link-follow, .notifications .user-info-details:hover .link-unfollow, .notifications .user-info-details:focus .link-delete, .notifications .user-info-details:focus .link-follow, .notifications .user-info-details:focus .link-unfollow, .notifications .user-info-details:active .link-delete, .notifications .user-info-details:active .link-follow, .notifications .user-info-details:active .link-unfollow, .notifications .user-info-details.hover .link-delete, .notifications .user-info-details.hover .link-follow, .notifications .user-info-details.hover .link-unfollow {
      display: block; }

.following h1 {
  font-size: 30px;
  color: #1d6fbc;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 0 10px;
  border-bottom: 1px solid #e1e1e1;
  margin: 0 0 20px; }
  .following h1 a.link-invite {
    float: right;
    padding: 7px 10px;
    color: #878787;
    font-size: 14px;
    border: 1px solid #e1e1e1;
    line-height: 18px;
    min-width: 100px;
    text-align: center; }
    .following h1 a.link-invite:hover {
      background: #1d6fbc;
      color: #fff; }
    @media only screen and (max-width: 767px) {
      .following h1 a.link-invite {
        float: none;
        display: block; } }

.chat-seacrh {
  overflow: hidden;
  margin: 0 0 20px; }
  .chat-seacrh .btn-chat {
    float: right;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    overflow: hidden;
    background: #1d6fbc url(../images/icon-chat.svg) no-repeat center center;
    background-size: 25px 25px;
    border: 0; }
    .chat-seacrh .btn-chat:hover {
      background: #272727 url(../images/icon-chat.svg) no-repeat center center;
      background-size: 25px 25px; }
  .chat-seacrh .search-text {
    overflow: hidden;
    border: 1px solid #e1e1e1; }
    .chat-seacrh .search-text input[type=text] {
      width: 100%;
      height: 35px;
      font-size: 16px;
      color: #272727;
      padding: 0 10px;
      border: 0; }
      .chat-seacrh .search-text input[type=text]:focus {
        border: 0;
        outline: none; }

.chat-invite {
  overflow: hidden;
  margin: 0 0 30px; }

.own-msgs {
  overflow: hidden;
  margin: 0 0 10px; }
  .own-msgs .msg-holder {
    float: right;
    max-width: 390px; }
    .own-msgs .msg-holder .msg-data {
      overflow: hidden; }
      .own-msgs .msg-holder .msg-data .image {
        width: 50px;
        height: 50px;
        float: right;
        margin: 0 0 0 5px; }
        .own-msgs .msg-holder .msg-data .image img {
          width: 50px;
          height: 50px; }
      .own-msgs .msg-holder .msg-data .msg-content {
        overflow: hidden; }
        .own-msgs .msg-holder .msg-data .msg-content .msg-text {
          background: #1d6fbc;
          padding: 10px;
          position: relative;
          min-height: 30px;
          z-index: 2; }
          .own-msgs .msg-holder .msg-data .msg-content .msg-text:before {
            position: absolute;
            right: 20px;
            bottom: -19px;
            width: 0;
            height: 0;
            border-top: 30px solid #1d6fbc;
            border-left: 30px solid transparent;
            content: " ";
            transform: rotate(-13deg);
            z-index: -1; }
          .own-msgs .msg-holder .msg-data .msg-content .msg-text p {
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            margin: 0; }
        .own-msgs .msg-holder .msg-data .msg-content .msg-time {
          float: right;
          margin: -2px 40px 0 0;
          font-size: 12px;
          color: #1d6fbc; }

.sender-msgs {
  overflow: hidden;
  margin: 0 0 10px; }
  .sender-msgs .msg-holder {
    float: left;
    max-width: 390px; }
    .sender-msgs .msg-holder .image {
      width: 50px;
      height: 50px;
      float: left;
      margin: 0 5px 0 0; }
      .sender-msgs .msg-holder .image img {
        width: 50px;
        height: 50px; }
    .sender-msgs .msg-holder .msg-content {
      overflow: hidden; }
      .sender-msgs .msg-holder .msg-content .msg-text {
        background: #878787;
        padding: 10px;
        position: relative;
        min-height: 30px;
        z-index: 2; }
        .sender-msgs .msg-holder .msg-content .msg-text:before {
          position: absolute;
          left: 7px;
          bottom: -12px;
          width: 0;
          height: 0;
          border-top: 30px solid #878787;
          border-left: 30px solid transparent;
          content: " ";
          transform: rotate(53deg);
          z-index: -1; }
        .sender-msgs .msg-holder .msg-content .msg-text p {
          font-size: 14px;
          line-height: 20px;
          color: #fff;
          margin: 0; }
      .sender-msgs .msg-holder .msg-content .msg-time {
        float: left;
        margin: -2px 0 0 40px;
        font-size: 12px;
        color: #878787; }

.white-box {
  background: #fff;
  padding: 20px;
  margin: 0 0 30px;
  overflow: hidden; }
  @media only screen and (max-width: 850px) {
    .white-box {
      padding: 10px; } }

.facts-figures h2 {
  font-size: 14px;
  line-height: 1;
  color: #1d6fbc;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase; }
.facts-figures .row {
  margin: 0; }
  .facts-figures .row article {
    padding: 0; }
.facts-figures .holder {
  padding: 10px;
  text-align: center;
  height: 100px;
  margin: 0 0 30px; }
  .facts-figures .holder .number {
    font-size: 60px;
    line-height: 1;
    font-weight: 100;
    color: #263238;
    display: block;
    margin: 0 0 10px;
    text-align: center; }
    @media only screen and (max-width: 640px) {
      .facts-figures .holder .number {
        font-size: 20px;
        font-weight: 600; } }
  .facts-figures .holder .text {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #263238;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center; }
    @media only screen and (max-width: 640px) {
      .facts-figures .holder .text {
        font-size: 12px;
        font-weight: 400; } }
  .facts-figures .holder.middle {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1; }
  .facts-figures .holder .blue {
    color: #00aeef; }
  .facts-figures .holder .yellow {
    color: #f7941d; }
  @media only screen and (max-width: 640px) {
    .facts-figures .holder {
      height: auto; } }

.users-holder {
  overflow: hidden; }
  .users-holder h2 {
    font-size: 20px;
    line-height: 1;
    color: #1d6fbc;
    margin: 0 0 20px;
    text-transform: uppercase; }
    .users-holder h2 span {
      display: block;
      font-size: 14px;
      line-height: 1;
      color: #272727;
      margin: 10px 0 0; }
      .users-holder h2 span a {
        font-size: 12px;
        line-height: 1;
        color: #272727;
        float: right;
        margin: 0 0 0 100px; }
        .users-holder h2 span a:hover {
          color: #1d6fbc; }

.manage-table {
  table-layout: fixed;
  width: 100%; }
  .manage-table tr {
    border-top: 1px solid #e1e1e1; }
    .manage-table tr th {
      font-size: 13px;
      color: #272727;
      padding: 0 5px;
      border-left: 1px solid #e1e1e1;
      text-align: center; }
      .manage-table tr th:first-child {
        border: 0;
        text-align: left; }
      .manage-table tr th.small {
        width: 75px; }
      .manage-table tr th.medium {
        width: 100px; }
        @media only screen and (max-width: 850px) {
          .manage-table tr th.medium {
            width: 50%; } }
      @media only screen and (max-width: 850px) {
        .manage-table tr th {
          display: none; } }
    .manage-table tr td {
      font-size: 13px;
      line-height: 15px;
      color: #272727;
      padding: 10px 2px;
      word-break: break-word;
      text-align: center;
      border-left: 1px solid #e1e1e1; }
      .manage-table tr td .user-holder {
        overflow: hidden; }
        .manage-table tr td .user-holder .image {
          width: 40px;
          height: 40px;
          float: left;
          margin: 0 10px 0 0; }
          .manage-table tr td .user-holder .image img {
            width: 40px;
            height: 40px; }
        .manage-table tr td .user-holder .text {
          overflow: hidden;
          text-align: left; }
      .manage-table tr td.small {
        width: 75px;
        text-align: center; }
        @media only screen and (max-width: 850px) {
          .manage-table tr td.small {
            width: 50%;
            text-align: left; } }
      .manage-table tr td table {
        table-layout: fixed;
        width: 100%; }
        .manage-table tr td table tr:first-child {
          border: 0; }
        .manage-table tr td table tr:hover {
          background: #f9f9f9; }
        .manage-table tr td table tr td.medium {
          width: 100px; }
          @media only screen and (max-width: 850px) {
            .manage-table tr td table tr td.medium {
              width: 50%; } }
      .manage-table tr td:first-child {
        border: 0; }
      .manage-table tr td.one-col {
        border: 0;
        padding: 0; }
      .manage-table tr td.social-media {
        padding: 10px 2px;
        border-bottom: 0; }
        .manage-table tr td.social-media a {
          font-size: 20px;
          margin: 0 5px 0 0;
          color: #1d6fbc; }
          .manage-table tr td.social-media a i.fa.fa-facebook-square {
            color: #3b5998; }
          .manage-table tr td.social-media a i.fa.fa-twitter-square {
            color: #00aeef; }
          .manage-table tr td.social-media a i.fa.fa-youtube-square {
            color: #ce332d; }
        @media only screen and (max-width: 850px) {
          .manage-table tr td.social-media {
            border: 0;
            padding: 5px 20px;
            margin: 0; } }
      .manage-table tr td .title-text {
        display: none;
        padding: 5px 0;
        margin: 0 0 5px; }
        @media only screen and (max-width: 850px) {
          .manage-table tr td .title-text {
            display: block; } }
      @media only screen and (max-width: 850px) {
        .manage-table tr td {
          float: left;
          width: 50%;
          box-sizing: border-box;
          text-align: left;
          border: 0;
          padding: 5px 20px; }
          .manage-table tr td:first-child {
            width: 100%; } }

.table-content {
  overflow: hidden;
  max-height: 400px; }

.stats-holder {
  overflow: hidden; }
  .stats-holder h2 {
    font-size: 20px;
    line-height: 1;
    color: #1d6fbc;
    margin: 0 0 20px;
    text-transform: uppercase; }

.settings-holder h2 {
  margin: 0 0 20px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e1e1e1;
  color: #1d6fbc;
  font-size: 20px;
  text-transform: uppercase; }
.settings-holder p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400; }
  .settings-holder p a {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 20px; }
    .settings-holder p a i.fa.fa-facebook-square {
      color: #3b5998; }
    .settings-holder p a i.fa.fa-twitter-square {
      color: #00aeef; }
    .settings-holder p a i.fa.fa-youtube-square {
      color: #ce332d; }
.settings-holder h5 {
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 700; }
.settings-holder .row-bordered {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 30px;
  margin-bottom: 30px; }
.settings-holder .btn-primary {
  height: 40px; }

a:focus, a:visited, a:hover {
  text-decoration: none;
  outline: none; }

body {
  margin-bottom: 65px; }

#main-wrapper {
  padding: 90px 0 0;
  position: relative; }

.center-container {
  max-width: 940px;
  margin: 0 auto; }
  @media only screen and (max-width: 1024px) {
    .center-container {
      padding: 0 20px; } }

.main-section .center-container {
  padding: 40px 0 0; }
  @media only screen and (max-width: 1024px) {
    .main-section .center-container {
      padding: 40px 20px 0; } }

.modal-content {
  border-radius: 0; }

#search-drop-panel {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  display: none; }
  #search-drop-panel .center-container {
    border: 1px solid #e1e1e1;
    padding: 20px;
    background: #fff; }

.grid-panel {
  background: #878787;
  padding: 20px;
  margin: 0 0 20px;
  color: #fff; }

.button-row .btn {
  margin: 0 0 10px; }

body.admin {
  background: #efefef; }
  body.admin #main-wrapper .center-container {
    padding-top: 30px; }

.mCSB_inside > .mCSB_container {
  margin: 0 !important; }

/*# sourceMappingURL=main.css.map */
