/*Admin side custom css*/

.page-content .img-thumbnail {
    float: right;
    max-height: 200px;
    max-width: 200px;
}

#profile-details .profile-article .form-control{
    display: inline;
    width: 40%;
    font-weight: 400;
    color: #272727;
    font-family: "Roboto",sans-serif;
    font-size: 22px;
    line-height: 35px;
}
.profile-article ul li strong::after{
    content: "";
}

.cover .heading{
    font-weight: bold;
    line-height: normal;
    margin: 0;
    font-size: 40px;
    color: #000;
}

#edit_content{
    margin-bottom: 20px;
}

.center-container .file-area{
    display:none;
}

.profile_pic_label{
    bottom: -20px;
    display:none;
    left: 50%;
    margin: 0 0 0 -25px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}


.cover-image .file-area{
    display:none;
}

.cover_pic_label{
    display: none;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    z-index: 3;
}

.social-nav .social_icon, .social-media .social_icon, .my-social-media .social_icon{
    width:25px;
}

.ui-widget{
    font-size: 14px !important;
}

/*Profile picture croppie css*/
.profile-image.croppie-container{
    padding:0;
    z-index: 2;
}
.profile-image .cr-boundary{
    border-radius: 100%;
}

.profile-image .cr-boundary{
    display:none;
}
.profile-image .cr-slider-wrap{
    display:none;
}

/*Cover picture croppie css*/
.cover-image.croppie-container{
    padding:0;
}
.cover-image .cr-boundary{
    display:none;
}
.cover-image .cr-slider-wrap{
    display:none;
}
.cover-image.croppie-container .cr-slider-wrap{
    margin: 0;
    position: relative;
    width: 338px;
    z-index: 3;
}

.cover{
    margin: 0 auto;
    max-width: 940px;
}

.cover .cover-image{
    overflow: hidden;
    height: 230px;
}

.cover img.main-image{
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: none;
    min-height: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.main-section .center-container {
    padding: 55px 25px 37px;
}

#profile-details.profile-form .profile-article .form-control{
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 10px 5px 0;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    color: #8c8c8c;
    font-weight: 300;
    height: 30px;
    box-shadow: none !important;
    border-radius: 0;
}

textarea.form-control{
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 10px 5px 0;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    color: #8c8c8c;
    font-weight: 300;
    box-shadow: none !important;
    border-radius: 0;
    height: 350px;
    resize: none;
}

.link-follow,.link-unfollow{
    display: block;
    margin: 0 auto;
    width: 70px;
}

.followers-container .link-follow,.followers-container .link-unfollow, .followers-container .follow-approve, .followers-container .follow-remove{
    display: block;
    margin: 0 auto;
    float: right;
}

.followers-container .link-follow img,.followers-container .link-unfollow img, .followers-container .follow-approve img, .followers-container .follow-remove img{
    width:50px;
}

.followers-container .user-info-details .link-delete, .followers-container .user-info-details .link-follow, .followers-container .user-info-details .link-unfollow {
    display:block;
    padding: 0;
    margin: 0;
    background: none;
    height: 70px;
    width: auto;
}
.followers-container .user-info-details .link-follow:hover, .followers-container .user-info-details .link-unfollow:hover {
    background: none;
}

.news-f-right .follow,.news-f-right .unfollow{
    display: block;
    margin: 0 auto;
    /*width: 50px;*/
    float: right;
}



#profile-details.profile-form .profile-article  .select-area .center {
    font-size: 16px;
    color: #8c8c8c;
}

#profile-details.profile-form .profile-article h6{
    margin: 10px 0;
}

#profile-details.profile-form .profile-article ul li span{
    font-size: 16px;
}

.notifications .user-info-details .image img{
    border-radius: 100%;
}
.news-feeds .header-holder .user-image img{
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

#notifications-drop-panel .user-details h6 {
    color: #878787;
    font-weight: 300;
    margin: 0 auto;
    display: block;
}

.news-main-image video{
    display: block;
    width:50%;
    margin: 0 auto;
}

.photo-container {
    height: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}
#profile .photo-container{
    width:100%;
    position:relative;
    overflow: hidden;
}

.photo-container img{
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: none;
    min-height: auto;
    right: 0;
    top: 0;
}

#profile .photo-container img{
    bottom: 0;
    left: 0;
    margin: auto;
    max-height: none;
    min-height: auto;
    right: 0;
    top: 0;
}

#play{
    background: rgba(0, 0, 0, 0) url("/images/play-btn.png") no-repeat scroll center center;
    bottom: 0;
    height: 141px;
    left: 0;
    margin: auto;
    max-height: none;
    min-height: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 143px;
    }
#profile #play{
    background: rgba(0, 0, 0, 0) url("/images/play-btn.png") no-repeat scroll center center;
    bottom: 0;
    height: 141px;
    left: 0;
    margin: auto;
    max-height: none;
    min-height: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 143px;
}

.post-comments .user-details span{
    display: block;
    margin: 0 0 07px 0;
    color: #272727;
    line-height: 1.3;
}
.post-comments .user-details h6{
    color:#1D6FBC;
    margin:0 0 7px 0;
}

.post-comments .image img{
    border-radius: 100%;
}

.modal-content .alert, .modal-content .alert p{
    font-size: 16px;
    line-height: 1.5;
}

.appwebview-main-section{
    padding: 0 !important;
}

.form-loginSignup .form-group .checkbox-label{
    position:relative;
    top:-9px;
    display: inline;
}

.form-conact-us .form-control{
    margin: 10px 0 0;
}

.form-conact-us textarea{
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 6px 12px;
    max-height: 200px;
}

.form-conact-us .btn-primary{
    margin: 15px 0 0;
}



#html5-watermark{
    display:none!important;
}

#header .header-nav ul li a span.notifications-count{
    background-color: #dc0a02;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 20px;
}

#header .header-nav ul li a span.messages-count{
    background-color: #dc0a02;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    padding: 2px;
    position: absolute;
    top: 0;
    width: 20px;
}

#notifications-drop-panel {
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 100;
}

#notifications-drop-panel .center-container {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e1e1;
    max-height: 597px;
    overflow: auto;
    padding: 20px;
    position: fixed;
    right: 32.5%;
    width: 480px;
}


#notifications-drop-panel .center-container p span{
    display: inline-block;
}
#notifications-drop-panel .center-container p span .notification-button{
    border: 1px solid;
    border-radius: 6px;
    display: inline-block;
    margin: 8px 0 0;
    padding: 5px 10px;
}

#notifications-drop-panel .center-container p .reject-request{
    color:#272727;
}
#notifications-drop-panel .center-container p{
    float: left;
    font-size: 16px;
    line-height: normal;
    margin-top: 7px;
}

#notifications-drop-panel .user-info-details .user-details {
    padding: 0 0 7px;
    border-bottom: 1px solid #e1e1e1;
}
.login-footer .login-copyrights, #footer .login-copyrights{
    text-transform: none;
}

#footer .login-copyrights{
    color: #747474;
    font-size: 11px;
    font-weight: 300;
    line-height: 11px;
    margin: 0;
    text-align: center;

}

.appwebview-main-section h1.heading{
    font-size: 15px;
    margin: 0 0 25px;
}

.appwebview-main-section h3{
    font-size: 13px;
    line-height: 20px;
}

.appwebview-main-section p{
    font-size: 15px;
    line-height: 20px;
}

.appwebview-main-section li{
    font-size: 15px;
}


#notifications-drop-panel .user-info-details{
    margin: 0 0 2px;
}

#notifications-drop-panel .user-info-details .image img{
    border-radius:100%;
}

.unread-notification{
    background-color: #F6F6F6;
}

.notifications .thread_link{
    display: inline-block;
    height: auto;
    margin-bottom: 5px;
    padding: 10px 10px 0;
    width:100%;
}

.notifications .active_thread{
    background-color: #f6f6f6;
}

.notifications .unread_thread{
    background-color: #edf2fa;
}

.notifications .thread_link article{
    padding:0;
}

#chat-holder{
    height: 66vh;
    overflow: auto;
}

.mCSB_container_padding{
    padding-right: 15px;
}

#chat-panel .notifications{
    height: 63vh;
    overflow: auto;
}

.msg-holder .image img{
    border-radius: 100%;
}

#chat-panel .post-comments{
    margin-top: 5px;
}

.own-msgs .msg-holder{
    min-width: 271px;
}

.sender-msgs .msg-holder{
    min-width: 271px;
}

#profile_save_form #profile-details .link-disable{
    float: right;
    font-size: 16px;
}

#header .header-nav ul li a i {
    display: block;
    font-size: 2.5em;
}
#header .header-nav ul li {
    vertical-align: middle;
}
#charNum{
    color: #1d6fbc;
    font-size: 14px;
    text-align: right;
}
.loading{
    position: relative;
    height:100%;
}
.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
}
.update-article footer{
    margin-top:10px;
}
.update-article footer .news-f-left a img{
    display:block;
    height:34px;
    margin: 0 auto;
}

.update-article footer .news-f-left a{
    color: #1d6fbc;
    float: left;
    font-size: 12px;
    margin: 0 20px 0 0;
    text-align: center;
    width: 60px;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    color: #1D6FBC !important;
    border: 1px solid #F6F6F6 !important;
}

#chat-panel .select-multiple-area{
    border:none !important;
}

.chat-seacrh .search-text{
    border: none;
}
.chat-seacrh{
    font-size: 14px;
}

.select2-selection__rendered li, .select2-results__option.select2-results__message,.select2-results__option{
    list-style: none !important;
    border-radius: 0 !important;
    border: none !important;
    font-size: 14px !important;
    padding-left: 10px !important;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #e1e1e1  !important;
    border-radius: 0  !important;
}


.select2-container--default .select2-selection--multiple{
    border:none !important;
    border-radius: 0 !important;
}
.select2-container{
    /*height: 40px !important;*/
}
.select2-selection__rendered li.select2-selection__choice{
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    color: #fff !important;
    background: #1d6fbc !important;

}
.select2-selection__choice__remove{
    color: #fff !important;
}
.select2-container--default .select2-results > .select2-results__options{
    max-height: 400px !important;
}
.center-body-column{
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    min-height: 650px;
}

.profile-layout-container{
    max-width: 940px;
    margin: 0 auto;
}
body{
    /*background: #e1e1e1 url("/images/bodybg.png") repeat scroll 0 0;*/
    background: #f5f5f5 none repeat scroll 0 0;
    /*background: #f1f1f1;*/
}

.msg-content .remove-message, .leave-room{
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: 71px;
    margin-top: -11px;
}
.msg-content .fa{
    font-size: 14px;
    color:#fff;
}

.leave-room{
    height: 32px;
    left: 4px;
    margin-top: -10px;
    width: 13px;
}

.leave-room .fa{
    font-size: 14px;
    color:#1D6FBC;
}
/*business card css*/
#business-card{
    background: #f6f6f6 none repeat scroll 0 0;
    border: 6px solid #1d6fbc;
    height: 384px;
    margin: 0 auto;
    padding: 10px;
    width: 672px;
}

#business-card #card-info{
    height: 100%;
    position: relative;
    width: 100%;
}

#business-card #card-info .left{
    float: left;
    margin: 100px 0 0 19px;
    width: 63%;
}

#business-card #card-info h1{
    border-bottom: 2px solid;
    display: inline-block;
    font-size: 36px;
    font-weight: 500;
    line-height: 33px;
    padding-bottom: 8px;
}

#business-card #card-info h3{
    font-size: 22px;
    font-weight: 300;
    line-height: 27px;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

#business-card #card-info h6{
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 35px;
}

#business-card #card-info .address{
    overflow: hidden;
    position: absolute;
}

#business-card #card-info .right{
    margin: 23px 20px 0 0;
    position: absolute;
    right: 0;
    width: 30%;
}

#business-card #card-info .right img{
    width: 100%;
}

#business-card #card-info .right .profile-pic{
    margin: 25px 23px 0 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    width: 75%;
}

/**************/

.share-links img{
    margin-right: 5px;
}

.post-heading{
    color:#272727;
}
.row h2{
    margin-top: 0;
    margin-bottom: 0;
}

.row .meta{
    margin-bottom: 5px;
}

#invite_page .biopage-idcard{

}
#invite_page .biopage-idcard img{

}

/*Login page layout start*/
header.background{
    max-height: 628px;
    background: rgba(0, 0, 0, 0) url("/images/background.jpg") no-repeat scroll center center / cover ;
}

header .center-body-column{
    box-shadow:none;
    background: none;
}

.login-layout{
    color:#fff;
}

.login-layout .statement{
    margin-bottom: 30px;
    margin-top: 111px;
}

.login-layout .statement h1{
    color: #fff;
    font-size: 50px;
    line-height: 1;
}

.login-layout .statement p{
    color: #fff;
}

.login-layout .form-loginSignup .form-group .new-user{
    color: #fff;
}

.login-layout .form-loginSignup .form-group.fb-login a:hover{
    color:#fff;
}
.login-layout .form-loginSignup .form-group .link-forgot:hover{
    color:#fff;
}
.login-layout .form-loginSignup .form-group .form-control{
    color:#fff;
}
.login-page .login-contianer{
    border-top: 1px solid #e6eaeb;
    max-width: 940px;
}

.login-contianer div.app-buttons{
    display: inline-block;
    margin-top: 10px;
}

.login-contianer div.apps{

}

.landing-section{
    margin: 0 auto;
    width: 90.2%;
}
.landing-section.center-body-column{
    box-shadow: none;
}
.landing-section.login-contianer{
    padding: 51px 15px 0;
}

.landing-section .breadcrum{
    color: #1c77bd;
    font-family: "BentonSans Medium","Helvetica Neue",Helvetica,Arial,"Sans-Serif";
    font-size: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
}
.right-column{
    width:50%;
    float:right;
}
.left-column{
    width:50%;
    float:left;
}
.landing-section h1{
    color: #2e3436;
    font-size: 48px;
    font-weight: normal;
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.landing-section p{
    color: #70797c;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    text-rendering: optimizelegibility;
}
.landing-section .col-sm-8{
    margin-top: 133px;
}
.landing-section .section-content{
    margin-top: 133px;
}

.breadcrumb{
    background-color: #1c77bd;
    display:inline;
}

.landing-section img.id-card{
    width:100%;
}

.landing-section .level-content{
    margin-top: 21px;
}

.center-body-column-idcard {
    background: #fff none repeat scroll 0 0;
    min-height: 313px;
}

.center-body-column-login-form{
    background: #fff none repeat scroll 0 0;
    min-height: 574px;
}

.center-body-column-reading-links{
    background: #fff none repeat scroll 0 0;
    min-height: 375px;
}

.landing-page-sections{
    max-width: 940px;
    margin: 0 auto;
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.app-body{
    background: none;
}

/*Login page layout end*/

.post-comments .comment-holder .text-holder{
    border: none;
}

.post-comments .comment-holder .text-holder .mentions-autocomplete-list{
    position: relative;
    max-width:40%;
    font-size: 14px;
}

.form-group .mentions-autocomplete-list{
    position: relative;
    max-width:40%;
    font-size: 14px;
}

.post-comments .comment-holder .text-holder .mentions-input-box textarea{
    height: 91px !important;
    width:752px;
}

.form-group .mentions-input-box textarea.mention{
    height: 250px !important;
    width: 100%;
}

.biopage-idcard .news-f-right{
    margin-top: 14px;
}

.biopage-idcard .share-links .fa-download{
    font-size: 38px;
    vertical-align: middle;
    color:#1D6FBC;
    margin-top: 2px;
}
.biopage-idcard .share-links .fa-download:hover{
    color:#1D6FBC;
}

/*CSS for post create/update form start */

.form-loginSignup .form-group textarea.form-control{
    height:auto;
}

.post-attachment label{
    line-height: 1.8;
    margin: 0 12px 0 0;
    color: #1d6fbc;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
}

.post-attachment label i{
    font-size: 1.5em;
}

.create-post-btn{
    margin-top:50px;
}

/*CSS for post create/update form end */
.newsfeed-page .link-invite{
    margin-right: 3px;
}
.post-updates-section .link-invite{
    margin-right: 3px;
    min-width: 82px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
#profile-details.profile-form .profile-article span.form-control{
    border-bottom: none;
}

#profile-details.profile-form .profile-article small, .small{
    font-size: 16px;
}

.form-conact-us ul li{
    color: #272727;
    font-size: 24px;
    font-weight: 300;
    line-height: 35px;
}


@media all and (max-width: 899px){
    .landing-section{
        width:90%;
    }
}

@media all and (max-width: 768px){
    .landing-section{
        width:100%;
    }
}

@media all and (max-width: 699px){
    .main-section .center-container {
        padding: 20px;
    }

    .breadcrumb{
        display: block;
    }

    .left-column{
        float: none;
        margin: 0 auto;
        text-align: center;
        width: 85%;
    }

    .login-contianer .img-login {
        margin: 0 auto -20px;
    }

    .right-column{
        float: none;
        text-align: center;
        width: 100%;
    }

    .login-layout .statement h1 {
        background-color: #1c77bd;
        border-radius: 5px;
        color: #fff;
        font-size: 40px;
        line-height: 1;
        padding: 10px;
        text-align: center;
    }

    .login-layout .statement p {
        background-color: #1c77bd;
        border-radius: 5px;
        color: #fff;
        padding: 10px;
        text-align:center;
    }
    header.background{
        max-height: none;
    }
    .login-layout {
        color: #fff;
        margin-top: -120px;
    }
    .login-contianer div.apps {
        width: 100%;
    }

    .login-contianer div.app-buttons {
        display: inline;
        margin-top: 10px;
    }

    .landing-section {
        margin: 0 auto;
        width: 100%;
    }

    .login-page .login-contianer {
        border-top: 1px solid #e6eaeb;
        margin-bottom: 0;
        max-width: 1100px;
        padding-bottom: 20px;
    }
    .landing-section .col-sm-8{
        margin-top: 30px;
    }

    .landing-section .section-content {
        margin-top: 30px;
    }
    .landing-section h1{
        font-size: 35px;
    }
    #footer{
        clear: initial;
        position: relative;
    }

    #footer nav.footer-nav ul li {
        margin: 0;
    }
    body {
        margin-bottom: 0;
    }
}

@media all and (max-width: 500px){
    .cover .center-container .profile-image{
        width: 154px;
        height: 154px;
    }
    .cover .center-container .profile-image > img{
        height: 150px;
        width: 150px;
    }

    .cover{
        min-height: 221px;
    }
    .cover .cover-image{
        height: 113px;
    }
}

@media all and (max-width: 400px){
    .cover .center-container .profile-image{
        top: 23px;
    }
}